.input{
  &::-webkit-input-placeholder {color:inherit;}
  &::-moz-placeholder          {color:inherit;}
  &:-moz-placeholder           {color:inherit;}
  &:-ms-input-placeholder      {color:inherit;}

  &:hover{

  }

  &:focus{

  }


}

.btn{
  &:hover{

  }

  &:focus{

  }
}